$header-grad: linear-gradient(-45deg, #0eb064 0%, #4cb057 100%);
$header-amount-color: #094c2c;
$green-text-color: #5e9c3e;
$footer-text-color: #9fb493;
$footer-link-color: #356123;
$input-outline-color: linear-gradient(-45deg, #a6d78c 0%, #c3e3b3 100%);
$main-grad: linear-gradient( 0deg, #ffffff 0%, #c3e3b3 100%);
$main-text-color: #718068;
$button-grad: linear-gradient(0deg, #e96f0b 0%, #ff9125 100%);
$plaseholder-color: #65904f;
$error-text-color: #e33026;
$input-error-border-color: #f9432e;
$input-error-shadow: inset 0px 2px 4px 0px rgba(249, 67, 46, 0.5);
$input-success-bg: #5e9c3e;
$input-expired-border-color: #e7ba2b;
$input-expired-epin-color: #a55e0f;
$input-expired-text-color: #111;
$input-border-color:#0eb064;

