<section class="language">
    <header class="language-header">
        <div class="widget-wrap">
            <a ui-sref="widget"><span class="icon-back"></span></a>
            <h1>Choose language</h1>
        </div>
    </header>
    <main class="language-select">
        <ul>
            <li><a href=""><span class="flag-icon flag-icon-tr"></span>Türkçe</a></li>
            <li><a href=""><span class="flag-icon flag-icon-de"></span>Deutch</a></li>
            <li><a href="" class="active-language"><span class="flag-icon flag-icon-us"></span>English (US)</a></li>
            <li><a href=""><span class="flag-icon flag-icon-cn"></span>中文(简体)</a></li>
            <li><a href=""><span class="flag-icon flag-icon-pl"></span>Polski</a></li>
            <li><a href=""><span class="flag-icon flag-icon-vn"></span>Tiếng Việt</a></li>
            <li><a href=""><span class="flag-icon flag-icon-ru"></span>Русский</a></li>
            <li><a href=""><span class="flag-icon flag-icon-es"></span>Español</a></li>
            <li><a href=""><span class="flag-icon flag-icon-br"></span>Português</a></li>
            <li><a href=""><span class="flag-icon flag-icon-kr"></span>Korean</a></li>
            <li><a href=""><span class="flag-icon flag-icon-it"></span>Italiano</a></li>
            <li><a href=""><span class="flag-icon flag-icon-jp"></span>Japanese</a></li>
        </ul>
    </main>
</section>