<section class="widget">
    <header class="header-main">
        <div class="widget-wrap">
            <div class="header-top">
                <div class="header-top-language"><a ui-sref="language"><span class="flag-icon flag-icon-gb"></span></a></div>
                <div class="header-close"><a href="#"></a></div>
            </div>
            <h1>Pay with MINT</h1>
            <div class="header-amount">15.00 <span class="header-currency">usd</span></div>
        </div>
    </header>
    <main class="main-section">
        <div class="epin-body">
            <div class="main-section-widget-wrap">   
                <input type="text" placeholder="Enter your ePIN" class="epin-input" autofocus required>
                <div class="input-balance">134,525,000.00 VND = <span class="input-balance-amount">3.23 USD</span></div>
                <div class="input-error">Please check the code, it looks wrong.</div>
                <div class="input-expired">This MINT code has expired.</div>
                <div class="input-driedup">This MINT code is all dried up.</div>
                <div class="epin-add">Add another ePIN</div>
                <aside class="epin-values">
                    <table>
                        <tr>
                            <td>Total MINT value:</td>
                            <td>00.00 USD</td>
                        </tr>
                        <tr>
                            <td>Outstanding balance:</td>
                            <td>00.00 USD</td>
                        </tr>
                        <tr>
                            <td>Purchase amount:</td>
                            <td>00.00 USD</td>
                        </tr>
                    </table>
                </aside>
                <input type="button" value="Buy Goods" class="buy-button">
            </div>
        </div>
        <footer class="footer-main">
            <div class="main-section-widget-wrap">
                <div class="footer-descr">
                    By clicking on "Buy Goods" button you have accepted MINT's Terms of Service.
                </div>
                <div class="footer-bottom">
                    <a href="#">Get Mint Online</a>
                    <div class="footer-bottom-separator"></div>
                    <a href="#">Shop in store</a>
                </div>
            </div>
        </footer>
    </main>
</section>